/* CSS Document */
*{ margin:0px; padding:0px; list-style:none; font-size:12px;}
a{ text-decoration:none; color:#333333;}
a:hover{ color:#c00;}
img{ border:0px;}
/*.top_c{ float:right;}*/
/*.top{ width:100%; margin:0px auto; background:url(../images/top_bg.png) repeat-x; height:25px;border-bottom:1px solid #DBDBDB;}
.top_c{ width:1020px; margin:0px auto; height:25px; line-height:25px; text-align:right; color:#333; }
.tc_btn{ background:url(../images/top_btnbg.png) no-repeat; width:50px; height:20px; line-height:20px; text-align:center; color:#FFFFFF; border:0px;}
.top_c a{ color:#0c46d0; text-decoration:none;}
.top_c a:hover{ color:#333333;}*/

html { overflow: scroll; }
.is-top {
    height: 30px;
    width: 1000px;
    margin: 0 auto;
    line-height:25px;
    padding: 0 0 0 18px;
    background: #f4f4f4;
}
/*.header{ width:1020px; margin:0px auto;
   height: 100px;
    background: url("../images/topBg.png") repeat-x;
    position: relative;
    overflow: normal;
    z-index: 99;
    clear: both; }*/
/*.header {
        width:1020px;
        margin:0 auto;
        height:100px;
        z-index:99;
}*/
/*.title1box {
    width: 588px;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #d6d6d6;
}
.location1 {
    width: auto;
    height: 30px;
    overflow: hidden;
    border-bottom: 1px solid #e3e3e3;
    padding-left: 10px;
}
.nav{ width:1020px; margin:0px auto; background:#2A6496; height:40px; line-height:40px; font-size:12px; color:white; text-align:center;border-top:1px solid #ffffff;}
.nav a{ font-size:14px;  font-weight:bold; color:#FFFFFF;padding:0px 12px;

            background: url(../images/liBg.gif) no-repeat right center;
            color: white;
    display: block;
    font-weight: bold;
    height: 35px;
    padding: 0 43px;
    float: left;
    display: block;
    text-align: center;
}*/

.is-textT {
    width: 180px;
    height: 23px;
    background: url(../images/s1.gif) no-repeat;
    float: left;
    padding-left: 29px;
    line-height: 23px;
    color: #666666;
    border: none;
}

.is-text1 {
    /* background: url(../images/xxgk/select2.gif) no-repeat; */
    float: left;
    border: none;
    width: 39px;
    height: 23px;
    cursor: pointer;
    margin-left: 2px;
}
.nav a:hover{ text-decoration:none;color:#fff;}
.gg{ width:1020px; margin:0px auto; height:35px; color:#666; background:#f7f7f7; line-height:35px;}
.gg div{ float:left;}

.h35 {
    height: 35px;
    line-height: 35px;
    background: url(../images/hbg6.jpg) repeat-x;
    border: #ddd 1px solid;
    padding: 0 15px;
    width:992px;
    margin-top:10px;
    margin:10px auto;
    text-align:right;   
}

.gl{ background:url(../images/gk_lbg.png) no-repeat center; width:70px; height:35px; line-height:35px; text-align:center; color:#FFFFFF;margin-left:15px;margin-right:5px;}
.search{    margin-top: 6px;
    margin-left: 730px;}
.gr_btn{ background:url(../images/gk_rbtn.png) repeat-x;border:1px solid #c00; width:40px; height:18px; line-height:18px; color:#FFFFFF; text-align:center;}
.main{ clear:both; width:1020px; margin:0px auto;}
.m_left{ width:225px; float:left;}
.zwgk{ width:223px;border:1px solid #ddd;border-top:0; clear:both;}
.zwgk_title{ background:url(../images/cbg.png) repeat-x; height:28px; line-height:28px;border-bottom:2px solid #194db3; width:223px;}
.zt{  width:95px; height:28px; text-align:center; line-height:28px; font-size:14px; font-weight:bold; color:#002E8C; float:left;}
.more{ float:right; background:url(../images/rbg.png) no-repeat; height:28px; line-height:28px; width:74px; text-align:right;padding-right:10px;}
.more a{ color:#039;}
.more a:hover{ color:#CC0000;}
.zxts{ clear:both;width:223px;border:1px solid #ddd;border-top:0; clear:both;margin-top:5px;}
.zxts_content{clear:both;  text-align:center; height:214px;}
.zwgk_content{ clear:both;  text-align:center; height:306px;}
.zwgk_content li,.zxts_content li{ float:left; width:80px; margin-bottom:10px;text-align:center; vertical-align:middle; line-height:30px;margin-top:5px;padding:0px 12px;}
.zwgk_content img,.zxts_content img{ border:0;border:1px solid #e4e4e4; width:55px; height:55px;}
.qxyj_content{ clear:both;  text-align:center; height:365px;}
.qxyj_content li{ border-bottom:1px dashed #ddd; clear:both; vertical-align:middle;margin-bottom:5px;}
.qxyj_content img{ border:0px;}
.qc_pic{ float:left;margin:5px 10px 5px 10px; width:40px;}
.qc_text{ float:left; width:145px; line-height:22px; text-align:left;}
.qxst_content{ text-align:center;padding:10px 0px;}
.m_center{ width:560px; margin-left:5px;margin-right:5px; float:left;}
.mc_qxxw{ width:558px; border:1px solid #ddd;border-top:0px; clear:both; margin-bottom:5px;}
.mcq_title{background:url(../images/cbg.png) repeat-x; height:28px; line-height:28px;border-bottom:2px solid #194db3; width:558px;}
.mcqt{ float:left;}
.mcqt li{ float:left; width:95px; height:28px; line-height:28px; text-align:center;margin-right:5px;}
.mcqt li a{ background:url(../images/lbg_2.png) no-repeat; display:block; font-size:14px; font-weight:bold; }
.mcqt li a:hover{ background:url(../images/lbg.png); color:#FFFFFF;}
a.mcqts:link,a.mcqts:visited{background:url(../images/lbg.png); color:#FFFFFF;}
.mcq_content{ clear:both;padding:3px; height:180px;}
.mcqc_left{ float:left;}
.mcqc_left li{ background:url(../images/li1.gif) no-repeat 2px 7px;padding-left:16px; line-height:26px;}
.mcqc_right{ float:right;}
.tc_content{ clear:both;padding:3px; height:230px;}
.tcc_left{ width:260px; float:left;}
.tccl_t li{ float:left; width:60px; heisght:21px; line-height:21px; text-align:center;margin-right:5px;}
.tccl_t li a{ background:url(../images/tc_bg2.png) no-repeat; display:block; font-weight:bold;}
.tccl_t li a:hover{ background:url(../images/tc_bg1.png) no-repeat; color:#CC0000;}
a.t_ts:link,a.t_ts:visited{background:url(../images/tc_bg1.png) no-repeat; color:#CC0000;}
.tccl_c{ clear:both; border:1px solid #c2d0e7; text-align:center;padding:5px;}
.tcc_right{ width:277px; float:right;}
.tcc_right table{ border:1px solid #c2d0e7;}
.tcc_right th{ font-size:14px; font-weight:bold; height:25px; line-height:25px; color:#0c49d2;border-bottom:1px solid #c2d0e7;}
.tcc_right td{padding:3px; line-height:20px;}
.qxjc_content{ clear:both; height:63px;}
.qxjc_content li{ float:left; width:79px; text-align:center;margin-top:5px;}
.qxyb_content{ clear:both; height:90px;}
.qxyb_content li{ float:left; width:93px; text-align:center;margin-top:5px; line-height:23px; height:90px;}
.m_right{ width:225px; float:right;}
.mr_zt{margin-bottom:5px;}
.rgtq_content{ text-align:center;padding:3px;}

.md_left{ width:393px; float:left;margin-left:5px;}
.md_qxkp{width:391px; border:1px solid #ddd;border-top:0px; clear:both; margin-bottom:5px;}
.mdq_title{background:url(../images/cbg.png) repeat-x; height:28px; line-height:28px;border-bottom:2px solid #194db3; width:391px;}
.mdq_content{padding:3px;clear:both; }
.mdq_content li{clear:both;border-bottom:1px dashed #ddd; height:25px; line-height:25px;}

.mdqc_t{ float:left;}
.mdqc_t a{background:url(../images/li2.gif) no-repeat 3px 5px;padding-left:10px;}

.mdqc_d{ float:right; color:#666666;}
.mdqc_d a{ color:#039; background:none;}
.mdqc_d a:hover{ color:#CC0000;}
.md_right{ width:393px; float:right;}
.pic{ clear:both;width:978px; border:1px solid #ccc; background:url(../images/pic_bg.png) no-repeat; height:145px; margin:0px auto;padding-left:40px;}
.pic li{ width:195px; float:left; text-align:center;margin-top:8px;}
.pic li img{width:160px; height:124px; padding:1px; border:1px solid #ccc;}
.links{ clear:both;width:1018px; border:1px solid #ddd;border-top:0px; margin:5px auto;}
.links_title{ width:1018px;background:url(../images/cbg.png) repeat-x; height:28px; line-height:28px;border-bottom:1px solid #e3e3e3;}
.links_content{ padding:5px; height:55px;}
.links_content li{ float:left;margin:0px 10px;}
    .links_content img {    
    width:200px;    
    height:80px;
    }
.footer{ clear:both; width:1020px;  line-height:30px; color:#333; text-align:center; margin:5px auto;}


/*------------------------------------二级页-------------------------------------*/
.t_left{ width:225px; float:left;}
.tl_list{ border:1px solid #aecdec;}
.tl_list dt,.tl_content dt{ height:30px; line-height:30px;border-bottom:1px solid #d0eaf7; background:url(../images/ldt_bg.gif) repeat-x;}
.tl_list dt a,.tl_content dt a{ color:#333; background:url(../images/jsqx_21.jpg) no-repeat 10px 1px;padding-left:25px;}
.tl_list dt a:hover,.tl_content dt a:hover{ color:#C00;}
.tl_list dd{ height:30px; line-height:30px;padding-left:30px;border-bottom:1px dashed #ddd; }
.tl_list dd a{ background:url(../images/li3.gif) no-repeat 0px 3px;padding-left:5px;}
.t_right{ width:790px; margin-left:5px; float:left;}
.t_center{ width:1024px; margin:20px auto; }
.trt_left{ width:403px; border:1px solid #aecdec; float:left;margin-right:5px;_margin-right:0px;}
.trtl_t{ background:url(../images/l_bg.png) repeat-x; height:25px;_height:24px; line-height:25px;_line-height:24px;border-bottom:1px solid #aecdec;padding-left:10px; font-size:14px; font-weight:bold; color:#0052b0;}
.trtl_c{ text-align:center;padding:2px;}
.trtr_c{ padding:3px 8px 3px 8px; line-height:22px; color:#333333; text-indent:24px;}
.trt_right{ width:378px; border:1px solid #aecdec; float:left;}
.tr_down{ clear:both;margin-top:5px; width:788px;border:1px solid #aecdec;}
.trd_c{ text-align:center;}
.trd_c li{ width:197px; text-align:center;margin-top:7px;margin-bottom:5px; float:left;}
.trd_c img{ padding:1px; border:1px solid #ccc;}
.trd_c li a{ border:0;}


/*---------------------------   list页   -------------------------*/
.list_li{ width:1018px; border:1px solid #aecdec;}
.list_li li{ height:40px;line-height:40px; font-size:14px;margin-left:100px;}
.list_li li a{ background:url(../images/li1.gif) no-repeat 3px 2px;padding-left:20px; font-size:14px;}
.m_tables{ border:1px solid #aecdec;border-bottom:0px;border-right:0px;}
.m_tables td{border-right:1px solid #aecdec;border-bottom:1px solid #aecdec;padding:3px; line-height:30px;}
.m_tcenter{ text-align:center; vertical-align:middle;}
.tr_c{ border:1px solid #aecdec;}
.tr_c li{ height:30px; line-height:30px;margin-left:10px;}
.tr_c li a{ background:url(../images/li2.gif) no-repeat 4px 5px;padding-left:13px;}
.tr_location{ background:#e9f0f8; height:25px; line-height:25px; padding-left:10px;border-bottom:1px solid #aecdec;ccolor:#0052b0;margin-bottom:5px;}
.tr_c h3{ text-align:center; font-size:16px; line-height:35px;}
.tr_c h4{ font-weight:normal; text-align:center; line-height:25px;border-bottom:1px solid #ccc;margin-bottom:10px;}
.trc_c{padding:10px;}
.trcc_t{ line-height:25px; font-size:14px;}
.trcc_b{ line-height:22px;margin-left:26px;}

.ta_links{margin:5px auto; text-align:right;}
.ta_links a{ background:url(../images/l_bg.png) repeat-x;border:1px solid #aecdec; height:25px; line-height:25px;padding:4px 10px; font-weight:bold; color:#0052b0;}
.ta_links a:hover{ color:#CC0000;}
.trtlc_f{ text-align:center; height:30px; line-height:30px; vertical-align:text-bottom;}
.trtlc_f a{margin-right:10px;}
.btn_bg{ background:url(../images/btn_bg.png) repeat-x; height:24px; line-height:24px; color:#FFFFFF;padding:0px 15px;border:1px solid #0c40a7; font-size:14px; font-weight:bold;}

.ts{ text-align:right;padding-right:20px; width:1000px; margin:3px auto;background:#e9f0f8;border-bottom:1px solid #aecdec; height:25px; line-height:25px;}
.ts a{ color:#CC0000; text-decoration:underline;}
.ts a:hover{ color:#0033FF;}
.ltab{margin-top:10px;border:1px solid #aecdec;}
.ltab h3{ font-size:24px; text-align:center; height:45px; line-height:45px;}
.ltab .divt{ text-align:center; font-size:14px; line-height:30px;}
.ltab th{ height:35px; line-height:35px; font-size:14px; text-align:left;border-top:1px solid #aecdec;}
.ltab td{ line-height:30px; font-size:14px; text-align:left;}
.ltab_t{padding-left:100px; width:400px;}
.ltab_t a{ font-size:14px; color:#000;}
.ltab_t a:hover,.ltab_b a:hover{ color:#C00;}
.ltab_b a{ font-size:14px; color:#039;}
.ltab img{margin-right:5px;}



/*---------------------------seconds_content.html--------------------------*/
.trtl_c{ padding-left:10px;padding-right:10px;}
.trtlc_l{ text-align:left; background:#EAF7FB;}
.trtlc_l dt{ background:url(../images/li3.gif) no-repeat 5px 8px #E6F2FB; line-height:23px; text-align:left;padding-left:12px; color:#4894DF;}
.trtlc_l dd{ text-align:left; line-height:23px;}
.trtlc_l dd a{ display:block; background:#F5FAFE;padding-left:17px;}
.trtlc_l dd a:hover{ background:#E4F2FA;}
.trtlcr_t{padding-top:3px; height:24px; line-height:24px;}
.trtlcr_t dd{ float:left;margin-right:5px; }
.trtlcr_t dd a{border:1px solid #89a4af;background:#e6fcfc;padding:0px 8px; display:block;border-bottom:0;}
a.dds:link,a.dds:visited{ background:#fde9e6;border:1px solid #b58e7d;padding:0px 8px; display:block;border-bottom:0;}
trtlcr_t dd a:hover{ background:#fde9e6;border:1px solid #b58e7d;padding:0px 8px; display:block;}
.trtlcr_c{ clear:both;border:1px solid #bcd6ed;}
.sl_table{border-left:1px solid #eaf5fb;border-top:1px solid #eaf5fb;margin-top:5px;}
.sl_table th,.sl_table td{ line-height:25px;border-bottom:1px solid #EAF5FB;border-right:1px solid #eaf5fb;padding:3px;}
.sl_table th{ background:#F5F9FE; color:#0066CC;}

/*--------------------------------专题---------------------------------*/
.tic_head{ width:1018px; margin:0px auto;border:1px solid #ccc;}
.tic_top{ width:1020px; margin:0px auto;}
.tic_mleft{ width:300px; float:left;border:5px solid #e3e3e3}
.tic_mright{ width:705px; float:right;border:5px solid #e3e3e3;border-left:0;}
.tm_img img{ width:300px; height:220px;border-bottom:5px solid #e3e3e3;}
.tm_news table th,.tic_mright table th,.tdi_pic th,.td_left th,.td_right th,.td_l th{ background:url(../images/topic_tbg.png) repeat-x; height:35px;padding-left:10px; font-family:"微软雅黑"; color:#fff; font-weight:bold; font-size:16px; text-align:left;}
.tm_news table td a,.tmr_news a,.td_left a,.td_right a,.td_l a{background:url(../images/li2.gif) no-repeat 5px 5px; line-height:25px;padding-left:13px;}
.tic_mright p{ line-height:22px; text-indent:26px;padding:10px; color:#333333;}
.tdi_pic{ clear:both; width:1020px; margin:0px auto;border:5px solid #e3e3e3;border-top:0px; line-height:30px;}
.tdi_pic td{ width:252px; text-align:center;}
.tdi_pic img{ width:230px; height:150px;margin-top:15px;}
.tic_down{ width:1020px; margin:0px auto; border:5px solid #e3e3e3;border-top:0;}
.td_left{ width:600px; float:left;border-right:5px solid #e3e3e3;}
.td_right{ float:left;width:405px;}
.tod_right{ width:760px; float:left; line-height:23px;padding:10px;}
.tod_right h4{ text-align:center; height:40px; font-size:16px;}

table.exploit_list, .category-list {
    width: 100% !important;
    border: solid #ddd 1px !important;
    border-collapse: separate !important;
    border-spacing: 1px;
    -moz-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important;
    background-color: #efefef !important;
    padding: 1px !important;
    margin-bottom: 10px;
    margin-top: 10px;
}
.bootstrap-wrapper * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bootstrap-wrapper .text-center {
    text-align: center;
}

table.exploit_list thead tr th, .category-list thead tr th {
    font-weight: bold;
}

.bootstrap-wrapper th {
    text-align: left;
}
table.exploit_list tbody tr, .category-list tbody tr {
    background-color: #f8f8f8 !important;
}
table.exploit_list tbody tr td.description {
    border: solid #eee 1px !important;
    text-align: left !important;
    padding: 3px !important;
}
table.exploit_list tbody tr td.platform {
    width: 100px;
    text-align: center;
}   
.bootstrap-wrapper a {
    color: #337ab7;
    text-decoration: none;
}
tr td.author {
    border: solid #eee 1px;
    text-align: center;
    padding: 3px;
}
table.exploit_list tbody tr:hover td, .category-list tbody tr:hover td {
    background: #e1e1e1;
}
aption, td, th, li {
    vertical-align: top;
}