<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FineUI" type="FineUI.ConfigSection, FineUI" requirePermission="false" />
  </configSections>
  <!-- 可用的配置项（这里列的都是默认值）: 
      Language="zh_CN" 
      AjaxTimeout="120" 
      EnableAjax="true" 
      Theme="Neptune" 
      FormMessageTarget="Qtip" 
      FormOffsetRight="0" 
      FormLabelWidth="100" 
      FormLabelSeparator="：" 
      IconBasePath="~/res/icon" 
      EnableAjaxLoading="true" 
      AjaxLoadingType="default" 
      CustomTheme="" 
      CustomThemeBasePath="~/res/theme" 
  -->
  <FineUI DebugMode="false" />
  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false" />
    <!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
     		如果使用明文这样server=127.0.0.1;database=.....,上面则设置为false。 -->
    <add key="ConnectionString" value="server=127.0.0.1;database=loudong;uid=shujq_pingtai;pwd=dbchinese;" />
    <!-- Maticsoft.Accounts权限角色管理模块连接字符串-->
    <add key="ConnectionStringAccounts" value="server=127.0.0.1;database=codematic;uid=sa;pwd=1" />
    <!--其它模块连接字符串，可以不断增加以便同一个项目支持连接多个数据库。如果没有，可以删除该行-->
    <!--<add key="ConnectionString2" value="server=127.0.0.1;database=codematic2;uid=sa;pwd=1"/>-->
    <add key="LDDomain" value="http://admin.jqsoft.com.cn:27359" />
    <add key="linkpic" value="/UpLoad/linkpic/" />
    <!--图片格式上传的限制，以“|”分割-->
    <add key="ImageType" value="bmp|jpg|gif|jpeg|png" />
    <!--图片限制上传大小，单位为M-->
    <add key="ImageSize" value="5" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <!--<forms name="ldform" domain="imwork.net" defaultUrl="default.aspx" loginUrl="login.aspx" timeout="1440" cookieless="UseCookies"/>-->
      <forms name="ldform" domain="jqsoft.com.cn" defaultUrl="default.aspx" loginUrl="login.aspx" timeout="1440" cookieless="UseCookies" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <pages controlRenderingCompatibilityVersion="4.0"  clientIDMode="AutoID">
      <controls>
        <add assembly="FineUI" namespace="FineUI" tagPrefix="f" />
      </controls>
    </pages>
    <httpModules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI" />
    </httpModules>
      <httpHandlers>
      <add verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI" validate="false" />
    </httpHandlers>
    <httpRuntime maxRequestLength="102400 "  requestValidationMode="2.0"/>
  </system.web>
  <location path="other">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!--
  <location path="res.axd">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>
  -->
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
        <add value="Default.asp" />
        <add value="Default.htm" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
        <httpRedirect enabled="false" destination="http://www.admin.jqsoft.com.cn:27359" httpResponseStatus="Permanent" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.50727" newVersion="2.0.50727" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>